{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} {{ byline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4">
        <h1>{{ headline }}</h1>
        <h3>{{ byline }}</h3>
        {{ prose(post) }}
        <p><a href="{{ link }}">Wikipedia</a></p>
      </div>
    </div>
    <h3>Songs:</h3>
    <hr>
      {% for song in songs.beyonce %}
        {% if song.slug == slug %}
          <div class="row">
            <div class="col-sm-1">
              <a href="{{ song.link }}" target="_blank">
                <img src="../img/{{ song.butt }}" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-sm-8">
              <h4>{{ song.title }}</h4>
              <p>{{ song.artists }} ✪ {{ song.time }}</p>
            </div>
          </div>
        <hr>
        {% endif %}
      {% endfor %}
  </article>
{% endblock %}