{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} {{ byline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4">
        <h1>{{ headline }}</h1>
        <h3>{{ byline }}</h3>
        {{ prose(post) }}
        <p><a href="{{ link }}">Wikipedia</a></p>
      </div>
    </div>
    <h3>Songs:</h3>
    <hr>
      {% for song in songs.beyonce %}
        {% if song.slug == slug %}
          <h4>{{ song.title }}</h4>
          <p>{{ song.artists }} ✪ {{ song.time }}</p>
          <hr> <!-- @PROF MCDONALD: Is there a way to put a spreadsheet into a baked page? -->
        {% endif %}
      {% endfor %}
  </article>
{% endblock %}