{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} {{ byline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-8">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4">
        <h1>{{ headline }}</h1>
        <h3>{{ byline }}</h3>
        {{ prose(post) }}
        <p>{{ link }}</p>
      </div>
    </div>
  </article>
{% endblock %}