{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}Beyoncé's discography as a solo artist.{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Discography</h1>
  <div class="col p-2">
    <h2>The Three Act Saga</h2>
    <img src="img/11-acts.jpg" class="img-fluid" alt="Beyoncé">
    <div class="row align-items center text-center">
      {% for blog in blog.blogs %}
      <div class="col">
        <h6>
          <a href="{{ relative_path }}blog/{{ blog.slug }}.html">{{ blog.headline }}</a>
        </h6>
      </div>
      {% endfor %}
      <div class="col">
        <h6>
          <a href="{{ relative_path }}actiii.html">Act III: ???</a>
        </h6>
      </div>
    </div>
  </div>
  <h2>Previous Studio Albums</h2>
  <div class="row row-gap-3 p-2">
    {% for album in songs.discography %}
      <div class="col-sm-4">
        <img src="img/{{ album.image }}.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-sm-8">
        <h3><a href="{{ album.link }}" target="_blank">{{ album.title }}</a></h3>
        <p>{{ album.year }}</p>
        {{ album.description }}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}