{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <article class="container">
    <h1>Beyoncé Giselle Knowles-Carter</h1>
    <p>Beyoncé Giselle Knowles-Carter, born September 4, 1981 is an American singer, songwriter and businesswoman. Dubbed as "Queen Bey" and a prominent cultural figure of the 21st century, she has been recognized for her artistry and performances, with Rolling Stone naming her one of the greatest vocalists of all time.</p>
    <p>Source: <a href="https://en.wikipedia.org/wiki/Beyonc%C3%A9" target="_blank">Wikipedia</a></p>
  </article>
  <div class="row justify-content-center">
    <div class="col-sm col-md-6 col-lg-8">
      <!-- CAROUSEL CAROUSEL -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/1-cowboycarter.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/2-renaissance.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/3-lionking.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/04-homecoming.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/05-lemonade.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/06-beyonce.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/07-four.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/08-sasha.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/09-bday.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/10-danger.jpg" class="d-block w-100" alt="...">
            </div>
        <!-- BUTTON -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <!-- END CAROUSEL END CAROUSEL -->
    </div>
    <div class="col-sm-4 col-md-2 col-lg-2">
      <img src="img/spotifycountdecoy.jpg" alt="" class="img-fluid">
      <p><a href="https://open.spotify.com/artist/6vWDO969PvNqNYHIOW5v0m" target="_blank">Placeholder for when I figure out the API.</a></p>
    </div>
  </div>
</div>
{% endblock %}