#jumbo {
  background: url(../img/jumbotron-b.jpg) no-repeat center;
  background-size: cover;
  color: rgb(60, 75, 54);
  font-style: bold;
  font-family: "Crimson Text", serif;
  padding-top: 12rem;
}

#jumbo {
  margin-bottom: 30px;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}